doctype html
html
    head
        title Simple Chat
        link(href='https://fonts.googleapis.com/css?family=Space+Mono', rel='stylesheet')
        style
            include style.css
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')

    body
        .page-header
            h1
                | Simple Chat
                small
                    | Name: 
                    span#name ...
        #main.row
            #messageColumn.col-sm-8
                ul#messages
            #userColumn.col-sm-4
                h2 Users
                ul#userWell.well.well-sm
        form(action='')
            input#m(autocomplete='off')
            button.btn.btn-primary Send

        button.btn.btn-primary(onclick='alertMe()') Cookies
        button.btn.btn-danger(onclick='clearMe()') Clear

        script
            include home.js
