doctype html
head
    title Test Me Out
    style.
      <meta name="viewport" content="width=device-width, initial-scale=1">
    link(href='https://fonts.googleapis.com/css?family=Space+Mono', rel='stylesheet')
    style
        include style.css
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')


body
  header.row
    h1.col-sm-8
      | Simple Chat
    h1.col-sm-4
      small
        | Name:
        span#name ...
      
  #main
    article#messagescont 
      h2
        | Messages
      ul#messages
           
    aside#userColumn
      h2
        | Users
      ul#userList
  footer#foot          
    form(action='')
      input#m(autocomplete='off')
      button.btn.btn-primary Send

  script
    include index.js
