doctype html
head
    title Test Me Out

#page-header.row
  h1.col-sm-8
    |Simple Chat
  h1.col-sm-4
    small
      | Name:
      span#name ...
      
#main.row
  .col-sm-8
    .scrollme
      ul#messages
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
        li
          span.time 11:15:20
          span.auth User1:
          span.mssg messages were already here
          
  #userColumn.col-sm-4
    .card
      ul#userList
        li User1
        li User3
        li User3
        
form(action='')
  input#m(autocomplete='off')
  button.btn.btn-primary Send

