/* Style */
body {
  background: #283d70 !important;
}

header {
  background: #2e3546;
}

header > h1 {
    color: white;
}

footer{
  background: #2e3546;
}

form {
  background: #2e3546;
}

.btn-primary {
    background-color: #703529 !important;
    border: 1px solid black !important;
}

#messagescont {
  background: #e0ddd5;
  border: 1px solid white; 
  border-radius: 7pt;
}

#userColumn {
  background: #c6934b;
  border: 1px solid white;
  border-radius: 7pt;
}

#messages li:nth-child(odd) {
  background: #cfd2d4;
}

#userList {
  border: 1px solid white;
  border-radius: 7pt;
}

#userList li {
  border-bottom: 1px dotted black;
}

#userList li:nth-child(odd) {
  background: #dedede;
}

.online {
  color: green;
  font-weight: 800;
}

.offline {
  color: red;
  font-weight: 800;
}

.time {
    margin-left: 25px;
    font-size: 0.85em;
}

/* Formatting */
body {
  height: 100vh;
  font: 24px Helvetica;
  overflow: hidden;
}

header {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100vw);
  min-height: 50px;
  margin: 4px;
  padding: 5px;
}

#main {
  height: calc(100vh - 143px);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}


#name {
  margin-left: 15px;
}


#messagescont {
  margin: 4px;
  padding: 5px;
  flex: 6 1 80%;
  order: 1;
}

#messages {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 63px);
  bottom: 143px ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#messages li,
#userList li { 
  height: auto;
  padding: 10px 10px;
  word-break: break-all;
}



#userColumn {
    margin: 4px;
    padding: 5px;
    flex: 1 1 20%;
    order: 2;
}


#userList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 63px);
  bottom: 143px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e0ddd5;
}

.self {
  font-weight: bold;
}

.sysMsg {
  font-weight: bold;
  color: red;
}

span + span {
  padding-right: 5px;
  margin-left: 5px;
}

form {
  height: 100%;
  padding: 3px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
    width: 9%;
}
