/* Style */

/* Formatting */
body {
  height: 100vh;
  background: #999999 !important;
  font: 24px Helvetica;
  overflow: hidden;
}

header {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 50px;
  background: lightblue;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100vw);
  min-height: 50px;
  margin: 4px;
  padding: 5px;
}

#main {
  height: calc(100vh - 143px);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}


#name {
  margin-left: 15px;
}


#messagescont {
  margin: 4px;
  padding: 5px;
  background: lightgreen;
  flex: 6 1 80%;
  order: 1;
}

#messages {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 63px);
  bottom: 143px ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#messages li,
#userList li {
  
  height: auto;
  padding: 10px 10px;
  word-break: break-all;
}

#messages li:nth-child(odd) {
  background: #cfd2d4;
}

#userList li:nth-child(odd) {
    background: #333333;
}

#userColumn {
    margin: 4px;
    padding: 5px;
    flex: 1 1 20%;
    order: 2;
    background: #ccccff;
}


#userList {
  display: flex;
  flex-direction: column;
  height: calc(100% - 63px);
  bottom: 143px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.self {
  font-weight: bold;
}

.sysMsg {
  font-weight: bold;
  color: red;
}

span + span {
  padding-right: 5px;
  margin-left: 5px;
}

form {
  height: 100%;
  background: #000;
  padding: 3px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
    width: 9%;
}
